* {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
}

.header,.hero-section,.information-section,.quote-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header,.hero-section {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.hero-section {
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links,.hero-text {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-button {
    background-color: #3382F6;
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 4px 2px;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
}

.information-section {
    flex-direction: column;
}

.information-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 50px;
}

.info {
    flex: 1;
    max-width: 200px;
}

.info img {
    border-radius: 10%;
}

.quote-section {
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 30px;
}