* {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header,.hero-section  {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links,.hero-text {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-button {
    background-color: #3382F6;
    color: white;
}